<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Farmacia {{profile.farmacia}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div >
  <div *ngIf="farmaciaMenu">
    <ion-label>Marihuana en stock</ion-label>
    <ion-checkbox [(ngModel)]="profile.stock" color="secondary" (ionChange)="updateStock()" id="stock"></ion-checkbox>
  </div>
  <div *ngIf="adminMenu">
    <button ion-button block color="danger" (click)="goUsers()">Crear usuarios</button>
    <button ion-button block color="secondary" (click)="logoutUser()">Crear farmacias</button>
  </div>
</div> 
  <button ion-button block (click)="logoutUser()">Log out</button> 
</ion-content>
